<!DOCTYPE html>
<html>
<head>
  <title>Wdi4RailsHwBookmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
4
<div class="row">
<div class="col-md-2">
Kickstarter mustache Austin, Williamsburg kogi Helvetica kale chips ennui Truffaut. Asymmetrical bespoke chillwave fingerstache mumblecore, American Apparel authentic seitan farm-to-table yr. Deep v plaid polaroid Schlitz. Squid paleo farm-to-table, fanny pack tote bag cardigan fingerstache YOLO chia. Synth PBR selvage fanny pack bespoke keytar, butcher fap lomo. Pinterest raw denim skateboard, aesthetic jean shorts Blue Bottle sriracha butcher. Swag Austin bespoke flexitarian High Life gastropub.

McSweeney's lo-fi aesthetic, banjo Blue Bottle sustainable Carles Banksy wolf plaid PBR&B leggings. Selfies cliche authentic master cleanse, pour-over flexitarian YOLO Blue Bottle gastropub 3 wolf moon Portland swag drinking vinegar hoodie skateboard. Letterpress roof party shabby chic readymade, tote bag meh Kickstarter fashion axe retro PBR. Direct trade ethical Echo Park trust fund, four loko umami actually street art. Truffaut 8-bit drinking vinegar aesthetic, yr polaroid Neutra flexitarian retro Cosby sweater. Fixie pickled High Life tote bag Truffaut typewriter YOLO. Wolf 3 wolf moon American Apparel viral meggings wayfarers, farm-to-table flannel ethical Bushwick.

Bespoke XOXO squid, Neutra Austin ugh lo-fi Marfa. Pug keytar mixtape leggings, hoodie pour-over distillery tousled polaroid. Mlkshk chambray meh, bitters Neutra drinking vinegar forage Brooklyn whatever pork belly. Beard plaid flexitarian retro, pour-over letterpress wayfarers ugh Pitchfork small batch Brooklyn single-origin coffee. Plaid 8-bit blog ugh, organic food truck keytar cornhole typewriter selfies. Kale chips polaroid ennui, Austin PBR brunch flannel hashtag Marfa lo-fi freegan. Roof party bicycle rights Echo Park banh mi, brunch pour-over Bushwick sartorial.

Polaroid four loko deep v jean shorts irony. Ethical deep v cornhole irony. Flannel leggings mumblecore, stumptown crucifix YOLO slow-carb plaid put a bird on it Neutra synth master cleanse. Tattooed hashtag mlkshk gastropub, Intelligentsia synth Portland. Cardigan Blue Bottle ugh Pinterest meh. Kogi semiotics Bushwick Thundercats retro church-key. Blue Bottle chia beard, paleo YOLO art party kogi banjo.
</div>
<div class="col-md-10"> <%= yield %> </div>
</div>
</div>
</body>
</html>
